* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  border: 0.75em solid #fff;
  min-height: 100vh;
}

body {
  background: #f7f7f5;
  color: #333;
  font: 400 105%/1.4 "Work Sans", sans-serif;
  margin: 1.5em auto;
  max-width: 54em;
  width: 90%;
}

.button {
  background-color: tomato;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  font-size: 14px;
  border: 0;
  text-align: center;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}

.button[disabled] {
  background: #ccc;
  color: #333;
  cursor: not-allowed;
}

.nonVisibleButton {
  background-color: lightcyan;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  font-size: 14px;
  border: 0;
  text-align: center;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}
